<ion-view view-title="Resident Details">
    <ion-content>
        <div class="card">
            <div class="item item-body item-text-wrap">
                <img class="full-image" ng-src="{{resident.image}}" alt="{{resident.firstname}}">
                <h2><strong>Name:</strong> {{resident.firstname}} {{resident.lastname}}</h2>
                <h3><strong>Phone:</strong> {{resident.phone}}</h3>
                <h3><strong>Build:</strong> {{resident.building.name}}</h3>
                <h3><strong>Description:</strong> {{resident.description}}</h3>
            </div>
        </div>
    </ion-content>
</ion-view>